@import "../../_base/imports/bootstrap";
@import "../../_base/variables/variables";

$block-name: "merge";

.#{$block-name} {

  font-family: $base-font;
  color: $color-white;

  &__wrap {
    background-color: $color-black;
    height: 100%;
    background-image: url(resources/images/bg-overlay.png) ;
  }
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 40px;
  }
  &__logo {
    margin-top: 40px;
  }

  &__logo-letters {
    width: 118px;
  }
  &__description {
    margin-bottom: 40px;
  }
  &__hr {
    width: 40px;
    border: 0;
    background-color: white;
    display: inline-block;
    height: 2px;
  }

  &__excerpt {
    font-family: $base-font;
    color: $color-white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
    &--dark {
      opacity: .2;
    }
  }
  &__link {
    font-size: 14px;
    &:link, &:visited {
      font-family: $base-font;
      color: $color-merge-cyan;
      text-decoration: none;
    }
  }
}

@media (min-width: breakpoint-min(lg)) {
  .#{$block-name} {

    &__container {
      padding: 0;
    }
    &__logo {
      margin-top: 100px;
    }
    &__logo-letters {
      width: auto;
    }

    &__description {
      margin-bottom: 100px;
    }

    &__contacts {
      margin-top: 60px;
    }

  }
}