@import "../variables/colors";

%button {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;

    background-color: $color-merge-cyan;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-family: $base-font;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    color: $color-black;
    letter-spacing: 0.7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0 2px 20px $color-black;
    padding: 0 30px;
    margin-bottom: 30px;
    &:hover {
        box-shadow: none;
    }
    &:active {
        background-color: darken($color-merge-cyan, 8%);
    }
    &:focus {
        box-shadow: 0 0px 0px 1px $color-black, 0 0px 0px 2.5px $color-merge-cyan;
    }
}